@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-500: #E0D1F9;
    --background-color: #1E1E1E;
    --accent: #101010;
    --secondary-500: #525252;
    --background-color2: #323232;
    --text-color: #FFFFFF;
    --mode-shade: #323232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body.light {
    --primary-500: #8749EB;
    --primary-900: #391F63;
    --secondary-500: #5F518C;
    --accent: #391F63;
    --background-color: #8749EB;
    --background-color2: #ffffff;
    --text-color: #391F63;
    --mode-shade: #323232;
}

body {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 70px 1fr;
    height: 100vh;
    background-color: var(--background-color2);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 900;
}

.logo .todo {
    color: var(--primary-500);
}

.logo .list {
    color: var(--text-color);
}

nav.sidebar { /* Changed from div.sidebar to nav.sidebar */
    grid-row: 1 / 3;
    background-color: var(--background-color);
    padding: 30px;
}

.select-mode {
    position: relative;
    display: flex;
    width: 90px;
    height: 40px;
    padding: 12px 16px;
    align-items: center;
    justify-content: space-between;
    border-radius: 22px;
    background-color: var(--accent);
    border: 1px solid var(--secondary-500);
    box-shadow: inset 0 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.mode {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.menu-name {
    font-size: 1.20rem;
    color: white;
    font-weight: 700;
    margin-bottom: 18px;
}

.menu-item {
    display: flex;
    gap: 12px;
    width: 100%;
    height: 40px;
    padding: 12px;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 0.875rem;
    margin-bottom: 12px;
}

.menu-section {
    margin-bottom: 40px;
}

.selected {
    background-color: var(--accent);
}

.content {
    width: 865px;
    margin: 0 auto;
    padding: 0 40px;
}